# Misc
.devcontainer

# Knowledge base
database/*
!database/put_database_data_here
!database/i_am_robot.md

# Database
chroma/db/*

# LLM
ollama/models/*

# ROS2
log/
build/
install/
__pycache__/
*.py[cod]